:root {
  --subtitle-color: #8395a7;
  --title-color: #222f3e;
  --timeline-list-font-color: #576574;
  --timeline-list-years-font-color: #222f3e;
  --hover-color: #2e86de;
}



body {
  margin-top: 50px;
  background-color: #c8d6e5;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
}
